@import url("./global.css");

body {
  background-image: url("../Images/bg-auth.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 80%;
  min-width: 306px;
  max-width: 529px;
  background-color: rgba(24, 26, 28, 0.84);
  padding: 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  width: 94px;
  margin-top: 22px;
}

.header {
  margin: 20px 0;
  text-align: center;
}

.header h1 {
  font-size: 18px;
  font-weight: 700;
  line-height: 140%;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 0.2px;
  margin-bottom: 4px;
}

.header p {
  font-size: 10px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 140%;
  letter-spacing: 0.2px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-group label {
  font-size: 10px;
  font-weight: 500;
  color: rgba(255, 255, 255, 1);
  line-height: 140%;
  letter-spacing: 0.2px;
}

.form-group input {
  font-size: 9px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.12px;
  color: rgba(193, 194, 196, 1);
  padding: 8px 12px;
  
  border-radius: 12px;
  border: 0.58px solid rgba(231, 227, 252, 0.23);
  background-color: transparent;
}

.form-group img {
  position: absolute;
  top: 27px;
  right: 10px;
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.auth-action {
  font-size: 10px;
  font-weight: 400;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(193, 194, 196, 1);

  display: flex;
  justify-content: space-between;
}

.auth-action a {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.auth-action a:hover {
  text-decoration: underline;
}

.form-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4px;
  align-items: center;
}

.form-action button {
  font-size: 10px;
  font-weight: 600;
  color: rgba(255, 255, 255, 1);
  line-height: 140%;
  letter-spacing: 0.2px;
  
  width: 100%;
  border-radius: 14px;
  background-color: transparent;
  border: 0.58px solid rgba(231, 227, 252, 0.23);
  padding: 8px 12px;
  cursor: pointer;
} 

.form-action button:hover {
  background-color: rgba(231, 227, 252, 0.23);
}

.form-action p {
  font-size: 10px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.2px;
  color: rgba(157, 158, 161, 1);
}

.form-action img {
  width: 10px;
  height: 10px;
  margin-right: 10px;
}

/* responsive to dektop */
@media (min-width: 768px) {
  main {
    padding: 20px 40px;
  }

  .logo {
    width: 163px;
    height: 44px;
  }

  .header h1 {
    font-size: 32px;
  }

  .header p,
  .form-group input,
  .auth-action,
  .form-action button {
    font-size: 16px;
  }

  .form-group label {
    font-size: 18px;
  }

  .form-action p {
    font-size: 14px;
  }

  .form-group img {
    width: 19px;
    height: 16px;
    top: 50px;
    right: 16px;
  }

  .form-group input,
  .form-action button {
    padding: 14px 20px;
    border-radius: 24px;
  }

  .form-action {
    gap: 8px;
  }

  .form-action img {
    width: 18px;
    height: 18px;
    margin-right: 20px;
  }
}

























